body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #c9ddeb;
  padding: 5px;
}

.acm {
border-radius: 40px;
}

.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: 0px 5px 0px 5px;
padding: 10px;
text-align: center;
font: bolder black;
display:inline-block;
}

.nav-btn{
  background-color: #032646;
  border-radius: 5px;
}

.nav-btn:hover{
  background-color: #b5b6b7;
}

.d-block{
  padding: 10px;
}

/* Navigation Bar */
.navbar {
  padding: 0;
  background: linear-gradient(350deg, #1a7bbc, #84c7e0);
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  --bs-navbar-hover-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
}
.nav-it{
  margin-top: .5%;
}

.nav-item {
  padding: 5px;
}

.nav-link {
  font-size: 14px;
  font-family: 'Arial', serif;
  color: #fff;
  --bs-nav-link-hover-color: #ececec;
}

.nav-link:hover{
  color:#000000;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title */
#title {
  background-color: #ffffff;
  color: #000000;
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.2;
}

.big-heading {
  font-size: 3.5rem;
}


.container-fluid {
  padding: 0% 0% 0%;
}

/* title image */
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

/* Features */
#features {
  margin: 0% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.fa-solid {
  color: #ef8172;
  /* font-size: 3.5rem; */
  margin-bottom: 1rem;
}

.fa-solid:hover {
  color: #ff4c68;
}

.work-ethics {
  padding: 4.5%
}

.work-ethics-title {
  font-size: 1.5rem;
}

p {
  color: #080808;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 2rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 50%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.section-heading {
  font-size: 2rem;
}

.pricing-columns {
  padding: 3% 2%;
}

.pricing-text {
  font-size: 2rem;
}

.breed-name {
  font-size: 1.5rem;
}


/* carousel */
#carousel{
  width: 50%;
  position: relative;
  justify-content: center;
  margin-left: 30%;
  margin-bottom: 30px;
  padding: 20px;
  margin-top: -40px;
  border-radius: 10px;
}

/* call to action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 4% 15%;
}

/* footer */
#footer {
  background-color: #fff;
  padding: 2px;
  margin-top: 10px;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
}

.social-media-links {
  margin: 20px 10px;
  color: black;
}

.social-media-links:hover {
  color: #ff4c68;
}